body {
  min-width: 1200px;
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-align: center;
  color: #333333;
  text-transform: uppercase;

  background-color: #ffffff;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px; width: 1px;
  margin: -1px; padding: 0; border: 0;
}


.inner {
  width: 1200px;
  margin: 0 auto;

  background-color: #ffffff;

  box-shadow: 0 5px 15px 0 rgba(0, 1, 1, 0.2);
}

.button {
  display: inline-block;

  font-size: 21px;
  line-height: 26px;
  text-align: center;
  font-weight: 700;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #81b3d2;
  border: none;
}

.button:hover,
.button:focus {
  background-color: #669ec0;
}

.button:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3)
}

.main-body {
  background-color: #f2f2f2;
}

/* ======================================= */

.main-navigation {
  position: relative;
  display: flex;

  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  background-color: #ffffff;
}

.main-header__logo {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -69px;
  z-index: 10;
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;


  margin: 0;
  padding: 0;


  list-style: none;
  text-align: left;
}

.site-navigation__item {
  box-sizing: border-box;
  width: 25%;
  padding-top: 15px;
  padding-bottom: 15px;
}



.site-navigation__item:nth-child(4n-3) {
  padding-left: 6%;
}

.site-navigation__item:nth-child(4n-2) {
  padding-left: 1%;
}

.site-navigation__item:nth-child(4n-1) {
  padding-right: 1%;
  text-align: right;
}

.site-navigation__item:nth-child(4n) {
  padding-right: 6%;
  text-align: right;
}

.site-navigation__link:link,
.site-navigation__link:visited {
  color: #000000;
}

.site-navigation__link:hover,
.site-navigation__link:focus {
  color: #81b3d2;
}

.site-navigation__link:active {
  color: rgba(0, 0, 0, 0.3);
}

/* ======================================= */

.container__box-image {
  position: relative;
  margin: 0;
  margin-bottom: 60px;
  min-height: 508px;

  background-color: #bad5e6;
  background-image: url("../img/rock.jpg");
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
}

.container__image {
  position: absolute;
  top: 75px;
  left: 50%;
  margin-left: -229px;
}

.features {
  margin-bottom: 50px;
}


.features__column {
  margin: 0 auto;
  margin-bottom: 50px;

  width: 575px;
}

.features__slogan {
  margin: 0;
  margin-bottom: 30px;

  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.features__subtitle {
  margin: 0;

  line-height: 26px;
}

/* ======================================= */

.features-list {
  display: flex;
  flex-wrap: wrap;

  margin: 0;
  padding: 0;

  list-style: none;
  background-color: #eeeeee;
}

.features-list__item {
  position: relative;
  box-sizing: border-box;
  width: 33.33%;
  padding-top: 45px;
  padding-right: 5%;
  padding-bottom: 60px;
  padding-left: 5%;
}

.features-list__item_text {
  padding: 0;
}

.features-list__item_blue {
  display: flex;
  width: 100%;

  background-color: #81b3d2;
}

.features-list__column {
  width: 33.33%;
}

.features-list__column_text {
  box-sizing: border-box;
  padding-top: 45px;
  padding-right: 4%;
  padding-bottom: 60px;
  padding-left: 4%;
}

.features-list__column_size_m {
  line-height: 0;
  width: 66.66%;
}

.features-list__title {
  margin: 0;
  padding-left: 25%;
  padding-right: 25%;
  margin-bottom: 25px;

  color: #000000;
  font-size: 21px;
  font-weight: 700;
}

.features-list__number {
  display: inline-block;
  position: relative;
  margin-bottom: 20px;
}

.features-list__number:before {
  content: "";
  position: absolute;
  top: 10px;
  left: -15px;
  width: 9px;
  height: 2px;
  background-color: #ffffff;
}

.features-list__number:after {
  content: "";
  position: absolute;
  top: 10px;
  right: -15px;
  width: 10px;
  height: 2px;
  background-color: #ffffff;
}

.features-list__number_gray::after,
.features-list__number_gray:before {
  background-color: #333333;
}

.features-list__text {
  margin: 0;
}

.features-list__text_white {
  color: #ffffff;
}

.features-list__column_order {
  order: -1;
}

.features-list__item_size_m {
  padding-top: 160px;
  padding-bottom: 85px;

  background-color: #ffffff;
}

.features-list__item_padding_m {
  padding-left: 4%;
  padding-right: 4%;
}

.features-list__icon_home::before {
  content: "";
  position: absolute;
  top: 60px;
  left: 50%;
  margin-left: -36px;
  width: 75px;
  height: 72px;
  background-image: url("../img/icon-home.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}


.features-list__icon_food::before {
  content: "";
  position: absolute;
  top: 60px;
  left: 50%;
  margin-left: -37px;
  width: 74px;
  height: 70px;
  background-image: url("../img/icon-food.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.features-list__icon_souvenir::before {
  content: "";
  position: absolute;
  top: 55px;
  left: 50%;
  margin-left: -32px;
  width: 64px;
  height: 76px;
  background-image: url("../img/icon-souvenir.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.features-list__item_gray {
  padding-top: 50px;
  background-color: #eeeeee;
}
/* ======================================= */

.reservation__column {
  padding-left: 26%;
  padding-right: 26%;
}

.reservation__lead {
  margin: 0;
  margin-bottom: 25px;

  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
}

.reservation__excerpt {
  margin: 0;
  margin-bottom: 50px;

  line-height: 24px;
}

.reservation__button-search {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 24.3%;
  padding-right: 24.3%;

  background-color: #766357;
}

.reservation__button-search:hover,
.reservation__button-search:focus {
  background-color: #604e43;
}

.reservation__button-search:active {
  background-color: #503e33;
}

/* ======================================= */

.modal-form {
  position: absolute;
  left: 50%;
  z-index: 10;

  box-sizing: border-box;
  width: 570px;
  padding: 55px;
  margin-left: -285px;
  background-color: #ffffff;

  box-shadow: 0 7px 15px 0px rgba(0, 1, 1, 0.15);
}

.modal-form__fieldset {
  margin: 0;
  padding: 0;

  border: none;
}

.modal-form__column {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

.modal-form__column-guests {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 55px;
}

.modal-form__column-adult {
  display: flex;
  width: 230px;

  align-items: center;
  justify-content: space-between;
}

.modal-form__column-children {
  display: flex;
  width: 180px;

  align-items: center;
  justify-content: space-between;
}

.modal-form__text {
  display: flex;
  /* margin-right: 21px; */

  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

/* .modal-form__text_size_m {
  margin-right: 18px;
 } */


.modal-form__input {
  display: flex;
}

.column__input-icon {
  width: 345px;
  position: relative;
  /* flex-grow: 1; */
}

.modal-form__calendar-button {

  position: absolute;
  right: 9px;
  top: 50%;
  margin-top: -10px;
}

.modal-form__calendar-button:hover path,
.modal-form__calendar-button:focus path {
  fill: #000000;
}

.modal-form__calendar-button:active path {
  fill: #81b3d2;
}

.modal-form__field {
  display: block;
  width: 100%;
  box-sizing: border-box;
  padding: 6px 13px;
  padding-right: 40px;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  outline: none;
  background-color: #f2f2f2;
}

.modal-form__field:hover {
  background-color: #ebebeb;
}

.modal-form__field:focus {
  outline: 2px solid #e5e5e5;
  outline-offset: -2px;
  background-color: #ffffff
}

.modal-form__field::-webkit-input-placeholder {
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  background-color: #f2f2f2;
}

.modal-form__field:hover::-webkit-input-placeholder {
  background-color: #ebebeb;
}

.modal-form__field:focus::-webkit-input-placeholder {
  background-color: #ffffff;
}

.modal-form__field::-moz-placeholder {
  display: block;
  width: 100%;
  padding: 6px 13px;
  box-sizing: border-box;


  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  background-color: #f2f2f2;
  opacity: 1;
}

.modal-form__field:hover::-moz-placeholder,
.modal-form__field:hover:-moz-placeholder {
  display: block;
  width: 100%;
  padding: 6px 13px;
  box-sizing: border-box;

  background-color: #ebebeb;
}

.modal-form__field:focus::-moz-placeholder {
  display: block;
  width: 100%;
  padding: 6px 13px;
  box-sizing: border-box;

  background-color: #ffffff;
}

.modal-form__field:-ms-input-placeholder {
  display: block;
  box-sizing: border-box;
  /* width: 100%; */
  height: 38px;
  /* padding-right: 40px; */
  /* padding-left: 13px; */

  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  background-color: #f2f2f2;
  text-transform: uppercase;
}

.modal-form__field:hover:-ms-input-placeholder {
  background-color: #ebebeb;
}

.modal-form__field:focus:-ms-input-placeholder {
  background-color: #ffffff;
}

.modal-form__field_size_m {
  width: 38px;
  height: 38px;
  padding-left: 15px;
  padding-right: 15px;
}

.modal-form__increase-button {
  position: relative;
  width: 38px;
  height: 38px;
  padding-left: 15px;
  padding-right: 15px;

  border: none;

  background-color: #f2f2f2;
}

.modal-form__increase-button::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -5px;
  margin-top: -1px;
  width: 10px;
  height: 2px;
  background-color: #a9a9a9;
}

.modal-form__reduce-button {
  position: relative;
  width: 38px;
  height: 38px;
  padding-left: 15px;
  padding-right: 15px;

  border: none;

  background-color: #f2f2f2;
}

.modal-form__reduce-button::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -5px;
  margin-top: -1px;
  width: 10px;
  height: 2px;
  background-color: #a9a9a9;
}

.modal-form__reduce-button::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -5px;
  margin-top: -1px;
  width: 10px;
  height: 2px;
  background-color: #a9a9a9;
  transform: rotate(90deg);
}

.modal-form__increase-button:hover::before,
.modal-form__increase-button:focus::before,
.modal-form__reduce-button:hover::before,
.modal-form__reduce-button:focus::before,
.modal-form__reduce-button:hover::after,
.modal-form__reduce-button:focus::after  {
   background-color: #000000;
 }

.modal-form__increase-button:active::before,
.modal-form__reduce-button:active::before,
.modal-form__reduce-button:active::after {
   background-color: #81b3d2;
 }

 .modal-form__submit-button {
  width: 100%;
  display: block;
  padding-top: 15px;
  padding-bottom: 15px;
 }

/* ======================================= */

.position-footer-column {
  position: relative;
}

.main-footer {
  padding-top: 35px;
  padding-bottom: 40px;
  display: flex;
  align-items: center;
}

.main-footer_position {
  position: absolute;
  bottom: 0;

  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: none;
}


.main-footer__column {
  display: flex;
  justify-content: center;
  width: 33.33%;
}

.main-footer__hashtag {
  margin: 0;

  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.main-footer__social-list {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;

  list-style: none;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 48px;
  margin-right: 6px;
}

.social-button:active .social-button-color {
  fill: rgba(255, 255, 255, 0.3)
}

.main-footer__social-item:last-child .social-button {
  margin-right: 0;
}

.main-footer__copyright {
  display: flex;
  width: 195px;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}

.main-footer__copyright-text {

  line-height: 26px;
  color: #000000;
}

/* ======================================= */

/* catalog.html */

/* ======================================= */
.site-navigation .site-navigation__link_current {
  color: #766357;
}


.container_text-alignment {
  text-align: left;
}

/* ======================================= */
.search-hotels {
  padding-top: 25px;
  padding-right: 6%;
  padding-bottom: 30px;
  padding-left: 6%;

  /* Временно для сетки */
  /* min-height: 215px; */

  /* Временно для сетки */

  color: #ffffff;
  background-color: #4f5962;
  background-image: url("../img/rock-blur.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}

.search-hotels__fieldset {
  margin: 0;
  padding: 0;

  border: none;
}

.search-hotels__columns {
  display: flex;
  flex-wrap: wrap;
}

.search-hotels__column {
  width: 24%;
}

.search-hotels__column_right {
  width: 30%;
  margin-left: auto;
}

.search-hotels__column-filter-range {
  /* width: 315px; */
}


.search-hotels__form-title {
  margin: 0;
  margin-bottom: 25px;

  font-size: 16px;
  font-weight: 700;
}

.search-hotels__form-title_m {
  margin-bottom: 10px;
}

.search-hotels__column-controls {
  margin-bottom: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  box-sizing: border-box;
  display: flex;
  border: 2px solid #ffffff;
  border-radius: 2px;
}

.search-hotels__control-left {
  position: relative;
  padding-left: 65px;
  margin: 0;
}

.search-hotels__control-left::after {
  content: "";
  position: absolute;
  right: -6px;
  top: 0;
  width: 2px;
  height: 22px;
  background-color: #ffffff;
}

.search-hotels__control-text-left {
}

.search-hotels__control-right {
  padding-left: 60px;
  margin: 0;
}

.search-hotels__form-field {
  width: 65px;
  border: none;
  background-color: transparent;
  font: inherit;
  color: #ffffff;
}

.column-controls-button {
  position: relative;
  margin-bottom: 35px;
}

.search-hotels__scale {
  height: 2px;
  background-color: rgba(255, 255, 255, 0.3);
}

.search-hotels__scale::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 80%;
  height: 2px;

  background: #ffffff;
}

.search-hotels__button-control {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.search-hotels__button-control:hover {
  border: 9px solid #ffffff;
}

.search-hotels__control_min-price {
  top: -9px;
  left: 0;
}

.search-hotels__control_max-price {
  top: -9px;
  left: 250px;
}

.search-hotels-form-button {
  margin-left: 85px;
  padding-top: 5px;
  padding-right: 33px;
  padding-bottom: 5px;
  padding-left: 33px;

  border: 2px solid #ffffff;

  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  background-color: transparent;
}

.search-hotels-form-button:hover,
.search-hotels-form-button:focus {
  color: #000000;
  background-color: #ffffff;
}


.search-hotels__column-text {
  position: relative;
  margin: 0;
  margin-bottom: 25px;
  padding-left: 40px;
}

.search-hotels__column-text:last-child {
  margin-bottom: 0;
}


.search-hotels__form-text:before {
  content: "";
  position: absolute;
  left: 0;
  top: -1px;

  width: 27px;
  height: 23px;
  background-image: url(../img/checkbox-off.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

input:checked + .search-hotels__form-text:before {
  background-image: url(../img/checkbox-on.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

input:disabled:checked + .search-hotels__form-text:before {
  background-image: url(../img/checkbox-disabled-on.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

input:disabled + .search-hotels__form-text:before {
  background-image: url(../img/checkbox-disabled-off.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

input:focus + .search-hotels__form-text {
  border-bottom: 1px dotted #ffffff;
}



/* ======================================= */

.found-hotels {
  /* padding: 30px 70px; */

}


.found-hotels__column-form {
  padding-top: 25px;
  padding-right: 70px;
  padding-bottom: 20px;
  padding-left: 70px;

  display: flex;
  flex-wrap: wrap;
  align-items: center;

}

.found-hotels__results-text {
  margin: 0;
  margin-right: 50px;


  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}


.found-hotels__sorting {
  flex-grow: 1;
  font-size: 12px;
  line-height: 18px;
}

.found-hotels__fieldset {
  margin: 0;
  padding: 0;

  border: none;
}

.found-hotels__sorting-columns {
  display: flex;
  flex-wrap: wrap;
}

.found-hotels__sorting-column {
  display: flex;
  flex-wrap: wrap;
}

.found-hotels__sorting-column_icon {
  margin-top: 10px;
}


.found-hotels__sorting-column_right {
  margin-left: auto;
}

.found-hotels__column-descending-increase {
  margin: 0;
}

.found-hotels__icon {
  margin-left: 12px;
}

.found-hotels__icon:hover .found-hotel__icon-color,
.found-hotels__icon:focus .found-hotel__icon-color {
  fill: #231f20;
}

.found-hotels__icon:active .found-hotel__icon-color {
  fill: #81b3d2;
}

input:checked + .found-hotels__icon path {
  fill: #81b3d2;
}

input:focus + .found-hotels__icon {
  border-bottom: 1px dotted #81b3d2;
}



/* .found-hotels__descending-increase-text {
  content: "";
  position: absolute;
  width: 11px;
  height: 10px;
  #81b3d2
  background-image: url("..img/")
} */


.found-hotels__sorting-column_type {
  width: 240px;
  justify-content: space-between;
}

.found-hotels__title {
  margin-right: 40px;
  color: #000000;
}

.found-hotels__text {
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dotted #81b3d2;
}

.found-hotels__field:checked + .found-hotels__text {
  color: #81b3d2;
  border-bottom: none;
}



/* ================================================================= */

.found-hotels-list {
  margin: 0;
  padding: 0;

  list-style: none;
  border-top: 1px solid #e5e5e5;
}

.found-hotels-list__item {
  position: relative;
  box-sizing: border-box;
  min-height: 150px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 25px;
  padding-right: 70px;
  padding-left: 70px;
  padding-bottom: 30px;
  border-bottom: 1px solid #e5e5e5;
}

.found-hotels-list__image {
  margin: 0;
  margin-top: 5px;
  margin-right: 30px;
  line-height: 0;
}

.found-hotels-list__column-info {
  width: 365px;
}

.found-hotels-list__hotel-link {
  display: block;
  margin-bottom: 8px;

  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.found-hotels-list__hotel-link:focus,
.found-hotels-list__hotel-link:hover {
  color: #81b3d2;
}

.found-hotels-list__hotel-link:active {
  color: rgba(0, 0, 0, 0.302);
}

.found-hotels-list__desc {
  display: flex;
}

.found-hotels-list__text {
  width: 115px;
  margin: 0;
  margin-bottom: 15px;
}


.found-hotels-list__column-reserve {
  font-size: 0;
  margin: 0;
}

.found-hotels-list__details-button {
  padding: 3px 17px;
  margin-right: 6px;

  font-size: 14px;
  line-height: 21px;
}

.found-hotels-list__reserve-button {
  padding: 3px 17px;

  font-size: 14px;
  line-height: 21px;
  background-color: #766357;
}

.found-hotels-list__reserve-button:hover,
.found-hotels-list__reserve-button:focus {
  background-color: #604e43;
}

.found-hotels-list__reserve-button:active {
  background-color: #503e33;
}

.found-hotels-list__rating {
  margin: 0;
  padding: 6px 16px;
  align-self: flex-end;
  margin-left: auto;

  text-align: center;
  color: #666666;
  background-color: #f2f2f2;
}

.found-hotels-list__rating::before {
  content: "";
  position: absolute;
  top: 30px;
  right: 75px;

  height: 17px;
  background-image: url("../img/star.svg");
  background-position: 0 0;
  background-repeat: space;
}

.found-hotels-list__rating_four-star:before {
  width: 85px;
}

.found-hotels-list__rating_three-star::before {
  width: 60px;
}

.found-hotels-list__rating_three-two::before {
  width: 40px;
}
