body {
  min-width: 1200px;
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-align: center;
  color: #333333;
  text-transform: uppercase;

  background-color: #ffffff;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px; width: 1px;
  margin: -1px; padding: 0; border: 0;
}


.inner {
  width: 1200px;
  margin: 0 auto;
}

.button {
  display: inline-block;

  font-size: 21px;
  line-height: 26px;
  text-align: center;
  font-weight: 700;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #81b3d2;
  border: none;
}

.button:hover,
.button:focus {
  background-color: #669ec0;
}

.button:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3)
}

/* ======================================= */

.main-navigation {
  position: relative;
  display: flex;

  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  background-color: #ffffff;
}

.main-header__logo {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -69px;
  z-index: 10;
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;


  margin: 0;
  padding: 0;


  list-style: none;
  text-align: left;
}

.site-navigation__item {
  box-sizing: border-box;
  width: 25%;
  padding-top: 15px;
  padding-bottom: 15px;
}



.site-navigation__item:nth-child(4n-3) {
  padding-left: 6%;
}

.site-navigation__item:nth-child(4n-2) {
  padding-left: 1%;
}

.site-navigation__item:nth-child(4n-1) {
  padding-right: 1%;
  text-align: right;
}

.site-navigation__item:nth-child(4n) {
  padding-right: 6%;
  text-align: right;
}

.site-navigation__link:link,
.site-navigation__link:visited {
  color: #000000;
}

.site-navigation__link:hover,
.site-navigation__link:focus {
  color: #81b3d2;
}

.site-navigation__link:active {
  color: rgba(0, 0, 0, 0.3);
}

/* ======================================= */

.container__box-image {
  position: relative;
  margin: 0;
  margin-bottom: 60px;
  min-height: 508px;

  background-color: #bad5e6;
  background-image: url("../img/rock.jpg");
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
}

.container__image {
  position: absolute;
  top: 75px;
  left: 50%;
  margin-left: -229px;
}

.features {
  margin-bottom: 50px;
}


.features__column {
  margin: 0 auto;
  margin-bottom: 50px;

  width: 575px;
}

.features__slogan {
  margin: 0;
  margin-bottom: 30px;

  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.features__subtitle {
  margin: 0;

  line-height: 26px;
}

/* ======================================= */

.features-list {
  display: flex;
  flex-wrap: wrap;

  margin: 0;
  padding: 0;

  list-style: none;
}

.features-list__item {
  position: relative;
  box-sizing: border-box;
  width: 33.33%;
  padding-top: 45px;
  padding-right: 5%;
  padding-bottom: 60px;
  padding-left: 5%;
}

.features-list__item_text {
  padding: 0;
}

.features-list__item_blue {
  display: flex;
  width: 100%;

  background-color: #81b3d2;
}

.features-list__column {
  width: 33.33%;
}

.features-list__column_text {
  box-sizing: border-box;
  padding-top: 45px;
  padding-right: 4%;
  padding-bottom: 60px;
  padding-left: 4%;
}

.features-list__column_size_m {
  line-height: 0;
  width: 66.66%;
}

.features-list__title {
  margin: 0;
  padding-left: 25%;
  padding-right: 25%;
  margin-bottom: 25px;

  color: #000000;
  font-size: 21px;
  font-weight: 700;
}

.features-list__number {
  display: inline-block;
  position: relative;
  margin-bottom: 20px;
}

.features-list__number:before {
  content: "";
  position: absolute;
  display: inline-block;
  top: 10px;
  left: -15px;
  width: 9px;
  height: 2px;
  background-color: #ffffff;
}

.features-list__number:after {
  content: "";
  position: absolute;
  display: inline-block;
  top: 10px;
  right: -15px;
  width: 10px;
  height: 2px;
  background-color: #ffffff;
}

.features-list__number_gray::after,
.features-list__number_gray:before {
  background-color: #333333;
}

.features-list__text {
  margin: 0;
}

.features-list__text_white {
  color: #ffffff;
}

.features-list__column_order {
  order: -1;
}

.features-list__item_size_m {
  padding-top: 160px;
  padding-bottom: 85px;
}

.features-list__icon_home::before {
  content: "";
  position: absolute;
  top: 60px;
  left: 50%;
  margin-left: -36px;
  width: 75px;
  height: 72px;
  background-image: url("../img/icon-home.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}


.features-list__icon_food::before {
  content: "";
  position: absolute;
  top: 60px;
  left: 50%;
  margin-left: -37px;
  width: 74px;
  height: 70px;
  background-image: url("../img/icon-food.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.features-list__icon_souvenir::before {
  content: "";
  position: absolute;
  top: 55px;
  left: 50%;
  margin-left: -32px;
  width: 64px;
  height: 76px;
  background-image: url("../img/icon-souvenir.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.features-list__item_gray {
  background-color: #eeeeee;
}
/* ======================================= */

.reservation__column {
  padding-left: 26%;
  padding-right: 26%;
}

.reservation__lead {
  margin: 0;
  margin-bottom: 25px;

  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
}

.reservation__excerpt {
  margin: 0;
  margin-bottom: 45px;

  line-height: 24px;
}

.reservation__button-search {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 24.3%;
  padding-right: 24.3%;

  background-color: #766357;
}

.reservation__button-search:hover,
.reservation__button-search:focus {
  background-color: #604e43;
}

.reservation__button-search:active {
  background-color: #503e33;
}

/* ======================================= */

.modal-form {
  position: absolute;
  left: 50%;
  z-index: 10;

  box-sizing: border-box;
  width: 570px;
  padding: 55px;
  margin-left: -285px;
  background-color: #ffffff;

  /* Временно для сетки */
  min-height: 395px;
  /* Временно для сетки */
}

.modal-form__fieldset {
  margin: 0;
  padding: 0;

  border: none;
}

.modal-form__column {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.modal-form__text {
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.column__input-icon {
  /* flex-grow: 1; */
}

.modal-form__field {
  width: 100%;
  box-sizing: border-box;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 6px;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  border: none;
  outline: none;
  background-color: #ffffff;
}

.modal-form__field:focus {
  outline: 2px solid #e5e5e5;
  outline-offset: -2px;
}

.modal-form__field::-webkit-input-placeholder {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 6px;

  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  background-color: #f2f2f2;
}

.modal-form__field:hover::-webkit-input-placeholder {

  background-color: #ebebeb;
}

.modal-form__field:focus::-webkit-input-placeholder {
  background-color: #ffffff;
}

.modal-form__field::-moz-placeholder {
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  background-color: #f2f2f2;
  opacity: 1;
}

.modal-form__field:hover::-moz-placeholder {
  background-color: #ebebeb;
}

.modal-form__field:focus::-moz-placeholder {
  background-color: #ffffff;
}

.modal-form__field:-ms-input-placeholder {
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  background-color: #f2f2f2;
  text-transform: uppercase;
}

.modal-form__field:hover:-ms-input-placeholder {
  background-color: #ebebeb;
}

.modal-form__field:focus:-ms-input-placeholder {
  background-color: #ffffff;
}

.modal-form__increase-button {
  background-color: #f2f2f2;
}

.modal-form__reduce-button {
  background-color: #f2f2f2;
}

/* ======================================= */

.position-footer-column {
  position: relative;
}

.main-footer {
  min-height: 120px;
  display: flex;
}

.main-footer_position {
  position: absolute;
  bottom: 0;

  background-color: #ffffff;
  opacity: 0.9;
}

.main-footer__column {
  flex-grow: 1;
}

.main-footer__hashtag {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.main-footer__social-list {
  list-style: none;
}

.main-footer__copyright-text {
  line-height: 26px;
  color: #000000;
}

/* ======================================= */

/* catalog.html */

/* ======================================= */
.site-navigation .site-navigation__link_current {
  color: #766357;
}


.container_text-alignment {
  text-align: left;
}

/* ======================================= */
.search-hotels {
  /* Временно для сетки */
  min-height: 215px;
  padding-left: 6%;
  padding-right: 6%;
  /* Временно для сетки */

  color: #ffffff;
  background-color: #4f5962;
  background-image: url("../img/rock-blur.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}

.search-hotels__fieldset {
  margin: 0;
  padding: 0;

  border: none;
}

.search-hotels__columns {
  display: flex;
  flex-wrap: wrap;
}

.search-hotels__column {
  width: 24%;
}

.search-hotels__column_right {
  width: 31%;
  margin-left: auto;

  text-align: right;
}


.search-hotels__form-title {
  font-size: 16px;
  font-weight: 700;
}

.search-hotels__form-field {
  border: none;
  background-color: transparent;
  font: inherit;
  color: #ffffff;
}

.search-hotels-form-button {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  background-color: transparent;
}

.search-hotels-form-button:hover,
.search-hotels-form-button:focus {
  color: #000000;
  background-color: #ffffff;
}

/* ======================================= */

.found-hotels {
  padding: 0 70px
}


.found-hotels__column-form {
  display: flex;
  flex-wrap: wrap;
}

.found-hotels__results-text {
  margin-right: 50px;

  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.found-hotels__sorting {
  flex-grow: 1;
}

.found-hotels__sorting {
  font-size: 12px;
  line-height: 18px;
}

.found-hotels__fieldset {
  margin: 0;
  padding: 0;

  border: none;
}

.found-hotels__sorting-columns {
  display: flex;
  flex-wrap: wrap;
}

.found-hotels__sorting-column {
  display: flex;
  flex-wrap: wrap;
}

.found-hotels__sorting-column_right {
  margin-left: auto;
}

.found-hotels__sorting-column_type {
  min-width: 250px;
  justify-content: space-between;
}

.found-hotels__title {
  margin-right: 40px;
  color: #000000;
}

.found-hotels__text {
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dotted #81b3d2;
}

.found-hotels__field:checked + .found-hotels__text {
  color: #81b3d2;
  border-bottom: none;
}

/* ================================================================= */

.found-hotels-list {

  margin: 0;
  padding: 0;

  list-style: none;
}

.found-hotels-list__item {
  display: flex;
  flex-wrap: wrap;
}

.found-hotels-list__image {
  margin-right: 30px;
}

.found-hotels-list__column-info {
  width: 365px;
}

.found-hotels-list__hotel-link {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.found-hotels-list__hotel-link:focus,
.found-hotels-list__hotel-link:hover {
  color: #81b3d2;
}

.found-hotels-list__hotel-link:active {
  color: rgba(0, 0, 0, 0.302);
}

.found-hotels-list__desc {
  display: flex;
}

.found-hotels-list__text:first-child {
  margin-right: 40px;
}

.found-hotels-list__details-button {
  font-size: 14px;
  line-height: 21px;
}

.found-hotels-list__reserve-button {
  font-size: 14px;
  line-height: 21px;
  background-color: #766357;
}

.found-hotels-list__reserve-button:hover,
.found-hotels-list__reserve-button:focus {
  background-color: #604e43;
}

.found-hotels-list__reserve-button:active {
  background-color: #503e33;
}

.found-hotels-list__rating {
  align-self: flex-end;
  margin-left: auto;

  text-align: center;
  color: #666666;
  background-color: #f2f2f2;
}
