body {
  min-width: 1200px;
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-align: center;
  color: #333333;
  text-transform: uppercase;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.inner {
  width: 1200px;
  margin: 0 auto;

    /* Временно для сетки */
  outline: 2px solid green;
      /* Временно для сетки */
}

.visually-hidden {
  display: none;
}

.button {
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  font-weight: 700;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #81b3d2;
  border: none;
}

.button:hover,
.button:focus {
  background-color: #669ec0;
}

.button:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3)
}

/* ======================================= */

.main-navigation {
  position: relative;
  display: flex;

  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  background-color: #ffffff;

  /* Временно для сетки */
  min-height: 55px;
    /* Временно для сетки */
}


.main-header__logo {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -69px;
}

.site-navigation {
  display: flex;
  flex-grow: 1;

  margin: 0;
  padding: 0;
  padding: 0 70px;

  list-style: none;
  text-align: left;
}

.site-navigation__item {
  width: 240px;
}

.site-navigation__item:nth-child(3) {
  margin-left: auto;
}

.site-navigation__item_align_text {
  text-align: right;
}

.site-navigation__link:link,
.site-navigation__link:visited {
  color: #000000;
}

.site-navigation__link:hover,
.site-navigation__link:focus {
  color: #81b3d2;
}

.site-navigation__link:active {
  color: rgba(0, 0, 0, 0.3);
}

/* ======================================= */

.container__image {
  min-height: 508px;

  background-color: #bad5e6;
  background-image: url("../img/rock.jpg");
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
}

.features__column {
  width: 575px;
}

.features__slogan {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.features__subtitle {
  line-height: 26px;
}

/* ======================================= */

.features-list {
  display: flex;
  flex-wrap: wrap;

  margin: 0;
  padding: 0;

  list-style: none;
}

.features-list__item {
  width: 400px;

/* Временно для сетки */
  min-height: 255px;
  outline: 2px solid yellow;
/* Временно для сетки */
}

.features-list__column {
    /* Временно для сетки */
  outline: 2px solid yellow;
    /* Временно для сетки */
}

.features-list__title {
  color: #000000;
  font-size: 21px;
  font-weight: 700;
}

.features-list__item_blue {
  display: flex;
  width: 1200px;

  background-color: #81b3d2;
    /* Временно для сетки */
  outline: 1px solid red;
    /* Временно для сетки */
}

.features-list__text_white {
  color: #ffffff;
}

.features-list__column_image {
  order: -1;
}

.features-list__item_size_m {
  /* Временно для сетки */
  min-height: 330px;
  /* Временно для сетки */
}

.features-list__item_gray {
  background-color: #eeeeee;
}
/* ======================================= */

.reservation__column {
  width: 570px;
}

.reservation__lead {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
}

.reservation__excerpt {
  line-height: 24px;
}

.reservation__button-search {
  background-color: #766357;
}

.reservation__button-search:hover,
.reservation__button-search:focus {
  background-color: #604e43;
}

.reservation__button-search:active {
  background-color: #503e33;
}

/* ======================================= */

.modal-form {
  position: absolute;
  left: 50%;
  z-index: 10;

  width: 570px;
  margin-left: -285px;
  background-color: #ffffff;

  /* Временно для сетки */
  min-height: 395px;
  /* Временно для сетки */
}

.modal-form__fieldset {
  margin: 0;
  padding: 0;

  border: none;
}

.modal-form__column {
  display: flex;
  justify-content: center;
}

.modal-form__text {
  line-height: 26px;
  font-weight: 700;
  color: #000000;

}

.modal-form__field {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  border: none;
  outline: none;
  background-color: #ffffff;
}

.modal-form__field:focus {
  outline: 2px solid #e5e5e5;
  outline-offset: -2px;
}

.modal-form__field::-webkit-input-placeholder {
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  background-color: #f2f2f2;
}

.modal-form__field:hover::-webkit-input-placeholder {
  background-color: #ebebeb;
}

.modal-form__field:focus::-webkit-input-placeholder {
  background-color: #ffffff;
}

.modal-form__field::-moz-placeholder {
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  background-color: #f2f2f2;
  opacity: 1;
}

.modal-form__field:hover::-moz-placeholder {
  background-color: #ebebeb;
}

.modal-form__field:focus::-moz-placeholder {
  background-color: #ffffff;
}

.modal-form__field:-ms-input-placeholder {
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  background-color: #f2f2f2;
  text-transform: uppercase;
}

.modal-form__field:hover:-ms-input-placeholder {
  background-color: #ebebeb;
}

.modal-form__field:focus:-ms-input-placeholder {
  background-color: #ffffff;
}

.modal-form__increase-button {
  background-color: #f2f2f2;
}

.modal-form__reduce-button {
  background-color: #f2f2f2;
}

/* ======================================= */

.position-footer-column {
  position: relative;
}

.main-footer {
  display: flex;
}

.main-footer_position {
  position: absolute;
  bottom: 0;

  background-color: #ffffff;
  opacity: 0.9;
}

.main-footer__column {
  flex-grow: 1;
}

.main-footer__hashtag {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.main-footer__social-list {
  list-style: none;
}

.main-footer__copyright-text {
  line-height: 26px;
  color: #000000;
}

/* ======================================= */

/* catalog.html */

/* ======================================= */
.site-navigation .site-navigation__link_current {
  color: #766357;
}


.container_text-alignment {
  text-align: left;
}

/* ======================================= */
.search-hotels {
  /* Временно для сетки */
  min-height: 215px;
  padding: 0 70px;
  /* Временно для сетки */

  color: #ffffff;
  background-color: #4f5962;
  background-image: url("../img/rock-blur.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}

.search-hotels__fieldset {
  margin: 0;
  padding: 0;

  border: none;
}

.search-hotels__columns {
  display: flex;

}

.search-hotels__column {
  width: 255px;
  outline: 2px solid red;
}

.search-hotels__column_right {
  width: 330px;
  margin-left: auto;

  text-align: right;
}


.search-hotels__form-title {
  font-size: 16px;
  font-weight: 700;
}

.search-hotels__form-field {
  border: none;
  background-color: transparent;
  font: inherit;
  color: #ffffff;
}

.search-hotels-form-button {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  background-color: transparent;
}

.search-hotels-form-button:hover,
.search-hotels-form-button:focus {
  color: #000000;
  background-color: #ffffff;
}

.found-hotels__results-text {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.found-hotels__sorting {
  font-size: 12px;
  line-height: 18px;
}

.found-hotels__title {
  color: #000000;
}

.found-hotels__text {
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dotted #81b3d2;
}

.found-hotels__field:checked + .found-hotels__text {
  color: #81b3d2;
  border-bottom: none;
}

.found-hotels-list {
  list-style: none;
}

.found-hotels-list__hotel-link {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.found-hotels-list__hotel-link:focus,
.found-hotels-list__hotel-link:hover {
  color: #81b3d2;
}

.found-hotels-list__hotel-link:active {
  color: rgba(0, 0, 0, 0.302);
}

.found-hotels-list__details-button {
  font-size: 14px;
  line-height: 21px;
}

.found-hotels-list__reserve-button {
  font-size: 14px;
  line-height: 21px;
  background-color: #766357;
}

.found-hotels-list__reserve-button:hover,
.found-hotels-list__reserve-button:focus {
  background-color: #604e43;
}

.found-hotels-list__reserve-button:active {
  background-color: #503e33;
}

.found-hotels-list__rating {
  text-align: center;
  color: #666666;
  background-color: #f2f2f2;
}
